<aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
                <a href="#">
                    <img src="assets/logo_mini2.png" alt="Cool Admin" />
                </a>
        </div>
        <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar__list">
                    <li class=" has-sub">
                        <a class="js-arrow" routerLink="/home">
                            <i  class="fas fa-tachometer-alt"></i>Dashboard
                        </a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" routerLink="/cliente">
                        <i class="fas fa-copy"></i>Cliente</a>      
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" routerLink="/patio" >
                        <i class="fas fa-copy"></i>Patio</a>    
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" routerLink="/veiculo">
                        <i class="fas fa-copy"></i>Veiculo</a>    
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" routerLink="/estacionamento">
                        <i class="fas fa-copy"></i>Estacionamento</a>
                    </li>
                </ul>
            </nav>
    </div>
</aside>